body {
  margin: auto 1em;
}

h1 {
  font-family: 'Milonga', cursive;
  font-size: 3em;
  text-align: center;
}

#splashPage {
  display: flex;
  align-items: center;
  justify-content: center;
}

#splashTitle {
  justify-content: center;
}

.splashButton {
  color: black;
  font-weight: bold;
  justify-content: center;
}

.page {
  display: none;
}
