body {
  margin: auto 1em;
}

h1 {
  font-family: 'Milonga', cursive;
  font-size: 3em;
  text-align: center;
}

#splashTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50%;
}

.page {
  display: none;
}
