#borderedIMG {
  border: 2em solid groove;
}

h1 {
  text-align: center;
}

.icon-menu {
  font-size: 2em;
}

li {
  display: none;
}

.borderedIMG {
  display: block;
  height: 35%;
  width: 10em;
}


@media only screen and (min-width: 700px) {
  .icon-menu {
    display: none;
  }

  li {
    display: inline-block;
  }


/*.navbar ul {
  position: inherit;
  display: block;
}
.navbar ul li {
  display: inline-block;
  border-bottom: none;
}*/

}
