#roster-display {
  clear: both;
  align-content: center;
}

.roster {
  padding: 5px;
  border: 5px solid green;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  font-family: sans-serif;
  line-height: 1em;
  height: 3.2em;
}

.inactive {
  background-color: hsla(0, 0%, 0%, 0.4);
  text-decoration: line-through;
  border: 5px solid red;
  color: white;
}

.match-inactive {
  display: none;
}

.active {
  background-color: hsla(0, 0%, 100%, 0.7);
  text-decoration: none;
  border: 5px solid green;
  color: black;
}

.match-active {
  display: inline-block;
  background-color: hsla(0, 0%, 100%, 0.7);
  text-decoration: none;
  border: 5px solid green;
  color: black;
}

#roster {
  position: relative;
  top: 5em;
  height: 10em;
  width: 15em;
  max-width: 50em;
  margin-right: 1em;
  display: inline-block;
  border-radius: 15% 5%;
  box-shadow: 10px 10px 5px #888888;
  background-color: hsla(102, 75%, 41%, 0.8);
}

#about {
  position: relative;
  top: 10em;
  height: 10em;
  width: 15em;
  max-width: 50em;
  display: inline-block;
  border-radius: 5% 15%;
  margin-left: 1em;
  box-shadow: 10px 10px 5px #888888;
  background-color: hsla(241, 69%, 30%, 0.8);
}

@media only screen and (min-width: 300px) {
  .roster {
    width: 48%;
  }
}

@media only screen and (min-width: 405px) {
  .roster {
    width: 32%;
  }
}

@media only screen and (min-width: 500px) {
  .roster {
    width: 24%;
  }
}
@media only screen and (min-width: 600px) {
  .roster {
    width: 20%;
  }
}
